# Konfigurasi Server
PORT=3000
NODE_ENV=development

# Kredensial Dashboard Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=lapor

# Path Data & Upload
DATA_FILE_PATH=./data/laporan.json
OPD_FILE_PATH=./config/opd.json
UPLOAD_DIR=./public/uploads
